.background-dotted-red {
  background: url(../img/dot-red.png);
  background-repeat: repeat;
  background-size: 5px;
}
.background-dotted-white {
  background: url(../img/dot-white.png);
  background-repeat: repeat;
  background-size: 5px;
}
