.border-bottom {
  border-bottom: rem-calc(1px) solid $aqua;
}
.border-right {
  border-right: rem-calc(1px) solid $aqua;
}
.border-left {
  border-left: rem-calc(1px) solid $aqua;
}
.border-top {
  border-top: rem-calc(1px) solid $aqua;
}

.border-bottom-white {
  border-bottom: rem-calc(1px) solid white;
}
.border-right-white {
  border-right: rem-calc(1px) solid white;
}
.border-left-white {
  border-left: rem-calc(1px) solid white;
}
.border-top-white {
  border-top: rem-calc(1px) solid white;
}
