/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: rem-calc(-9999px);
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: rem-calc(20px);
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: rem-calc(2px);
  width: rem-calc(12px); height: rem-calc(11px);
  border: rem-calc(1px) solid $brand-primary;
  background: #fff;
  border-radius: 0px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: rem-calc(2px); left: rem-calc(0px);
  width: rem-calc(12px); height: rem-calc(11px);
  background: $brand-primary;
  border: rem-calc(1px) solid $brand-primary;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted lighten($brand-primary,0.10);
}

.frm_form_fields  {
  margin-right: rem-calc(-1px);
}

.form-field {
    display: flex;
    align-items: center;
    position: relative;
    label {
        width: 30%;
        flex-shrink: 0;
        font-weight: bold;
    }
    input {
        width: 100% !important;
        border: 0;
        border:1px solid $aqua;
        padding: rem-calc(22px);
        outline-width: 0;
        border-bottom: 0;
    }
    textarea {
        border:1px solid $aqua;
        padding: rem-calc(22px);
        outline-width: 0;
        border-bottom: 0;
    }
    .frm_recaptcha {
        margin-left: 30%;
        border:1px solid $aqua;
        width: 100%;
        margin-bottom: rem-calc(-1px);
        padding: 20px;
    }
    .frm_error {
        position: absolute;
        left: 30%;
        padding-left: rem-calc(22px);
        bottom: 0;
        font-size: rem-calc(11px);
        color: $red;
    }
    .frm_dropzone {
        border:1px solid $aqua;
        border-bottom: 0;
        width: 100%;
        border-radius: 0;
        margin: 0;
        max-width: none;
        padding: 0;
        min-height: auto;
        &.dz-clickable.frm_single_upload {
          max-width: none;
        }
        .dz-message {
          font-size: rem-calc(16px);
          display: flex;
          align-items: center;
          margin-bottom: 0 !important;
          padding: rem-calc(10px);
          padding-left: rem-calc(25px);
          min-height: rem-calc(70px);
        }
        .frm_icon_font {
          margin-right: rem-calc(15px);
          &:before {
            font-size: rem-calc(25px);
          }
        }
        .frm_small_text {
          display: none;
        }
    }

    .frm_select {
        border: 1px solid $aqua;
        padding: rem-calc(22px);
        width: 100%;
        border-bottom: 0;
        position: relative;
        i {
          color: $red;
        }
        select {
          border: 0;
          background: none;
          width: 100%;
          max-width:rem-calc(250px);
          -webkit-appearance: none;
          -moz-appearance:    none;
          appearance:         none;
        }
    }
}
.frm_error_style {
    color: $red;
    margin-top: rem-calc(15px);
    margin-bottom: rem-calc(15px);
}
.frm_submit {
    margin-left: 30%;
    border: 1px solid $aqua;
    padding: rem-calc(22px);
    text-align: center;
    margin-bottom: rem-calc(-1px);
}
