h1, .h1 {
  font-weight: normal;
  line-height: 1;
}

h1, .h1 {
  &:before {
    content: '— ';
  }
}

h3,h4, .h3, .h4 {
  font-family: $alt-font;
  font-weight: normal;
}

.bold {
  color:red;
}


.font-big {
  font-size: 1.55rem;
  letter-spacing: -0.3px;
}
