.company__slider {

  .company__slider-content {
    @include media-breakpoint-down(xs){
      padding-left:rem-calc(15px);
      padding-right:rem-calc(15px);
    }
    div {
      opacity: 0;
      transition: 0.5s ease opacity;
    }
    &.slick-current div {
      opacity: 1;
    }
  }
  .slick-dots li:nth-child(1) button:before {content: ' ';width: 14px;height: 14px;border-radius: 100%;border: 1px solid #869D96;opacity: 1;}
  .slick-dots li:nth-child(2) button:before {content: ' ';margin-left: 1px; width: 12px;height: 12px;border: 1px solid #869D96;opacity: 1;transform: rotate(45deg);margin-top: 1px;}
  .slick-dots li:nth-child(3) button:before {content: ' ';width: 14px;height: 14px;border: 1px solid #869D96;opacity: 1;}
  .slick-dots li.slick-active button:before { background: #869D96; }

  .slick-prev {
      &:before {
        font: normal normal normal 19px/1 FontAwesome;
        content: "\f106";
        color:$green;
      }
      left: 2px;

      top: rem-calc(20px);
      transform: inherit;
      @include media-breakpoint-up(lg) {
        left: rem-calc(-58px);
      }
  }

  .slick-next {
      &:before {
        font: normal normal normal 19px/1 FontAwesome;
        content: "\f107";
        color:$green;
      }
      right: inherit;
      top: rem-calc(145px);

      left: 2px;
      transform: inherit;
      @include media-breakpoint-up(lg) {
        left: rem-calc(-58px);
      }
  }

  .slick-dots {
    bottom: rem-calc(-20px);

    @include media-breakpoint-up(sm) {
      top: rem-calc(50px);
      bottom: inherit;

      width: rem-calc(30px);
    }
    @include media-breakpoint-up(lg) {
      left: rem-calc(-60px);
    }
  }
}
