footer {
  @include media-breakpoint-down(xs) {
    text-align: center;
  }
  h4 {
    color: $red;
    font-weight: bold;
  }
  .footer-list {
    list-style: none;
    padding: 0;

    font-size:rem-calc(14px);
    a {
      color: black;
      font-size:rem-calc(14px);
    }
    &.footer-list--inline {
      display: flex;
      justify-content: space-between;
      li {


      }
    }
  }
}
