$mainHeight: rem-calc(455px);
$lowHeight: rem-calc(74px);

.hero {

  background-image: url(../img/bg-hero.jpg);
  background-position: center center;
  background-size: cover;

  .hero__height2 {
    flex-grow: 1;
  }
  .hero__height1, .hero__height3 {
    height: $lowHeight;
    .row {
      align-items: stretch;
      height: 100%;
    }
  }
  .hero__main-content {
    min-height: $mainHeight;
    display: flex;
  }
  .hero__scrolldown {
    text-align: center;
    color: white;
    line-height: $lowHeight;
    width: 100%;
  }
  .hero__headlines {
      position: relative;
      display: block;
      overflow: hidden;
      text-align: left;
      color: white;
      align-self: center;
      padding: 0 rem-calc(90px);
      h1 {
        margin-bottom: rem-calc(20px);
        max-width: rem-calc(450px);
      }
  }
}
