.history {



  .history__path-year {
    position: relative;
    &:after {
      content: attr(data-year);
      position: absolute;
      display: block;
    }
  }

  .history__line {
    svg {
      width: 100%;
    }
  }

  .history__mobile-slider {
    position: relative;
    &:after {
      position:absolute;
      width:rem-calc(47px);
      height: 100%;
      display: block;
      content: ' ';
      left:0;
      border: 1px solid #869D96;
      border-right:0;
      top: 0;
    }
    &:before {
      position:absolute;
      width:rem-calc(47px);
      height: 100%;
      display: block;
      content: ' ';
      right:0;
      border: 1px solid #869D96;
      border-left:0;
      top: 0;
    }
    .history__mobile-slider-item {
      padding:20px;
      text-align: center;
    }
  }

  .history__label {
    position: relative;
    transition: 0.3s ease-in-out width;
    &:after {
      position:absolute;
      width:rem-calc(47px);
      height: 100%;
      display: block;
      content: ' ';
      left:0;
      border: 1px solid #869D96;
      border-right:0;
      top: 0;
    }
    &:before {
      position:absolute;
      width:rem-calc(47px);
      height: 100%;
      display: block;
      content: ' ';
      right:0;
      border: 1px solid #869D96;
      border-left:0;
      top: 0;
    }
    span {
      position: absolute;
      white-space: nowrap;
      height: rem-calc(44px);
      top: 0;
      line-height: rem-calc(46px);
      transition: 0.1s ease all;
      &.old {
        display: none;
      }
      &.hide {
        opacity: 0;
      }
    }
    padding: rem-calc(22px) rem-calc(35px);
    display: inline-block;
  }

    .history__line-container {
        display: flex;
        flex-grow: 1;
    }

    .history__line-item {
        width: 5%;
        height: rem-calc(60px);
        cursor: pointer;
        position: relative;
        &:before {
          content: ' ';
          position: relative;
          width: 1px;
          height: 100%;
          left: 50%;
          background: #869D96;
          display: block;
        }
        &.small:before {
          height: 70%;
          top: 15%;
        }
        &.inactive-item:before {
          height: 40%;
          top: 30%;
          opacity: 0.5;
        }
        &.active .year {
          opacity: 1;
        }
        .year {
          opacity: 0;
          position: absolute;
          font-size: rem-calc(14px);
          top: rem-calc(-20px);
          transform: translateX(-50%);
          left: 50%;
          transition: 0.3s ease-in-out all;
        }
    }


    .history__line {
        display: flex;
    }

    .history__arrow {
        display: flex;
        padding: rem-calc(10px);
        &.history__arrow--right img {
            transform: rotate(180deg);
        }
    }

}
