.news-list {
  font-weight: 300;
  .news-list__item {
    z-index: 1;
    position: relative;
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.news {
  @include media-breakpoint-up(sm) {
    font-size: rem-calc(25px);
  }
  h2, h3, h4, h5, h6 {
    margin-bottom: rem-calc(30px);
  }
  h4 {
    font-size: rem-calc(30px);
  }
  h5 {
    font-size: rem-calc(28px);
  }
  h6 {
    font-size: rem-calc(25px);
  }

  a {
    color: black;
  }
  ul, ol {
    font-weight: 300;
    margin-bottom: rem-calc(30px);
  }
  .news__category {
    font-weight: bold;
    font-size: rem-calc(18px);
  }
  .news__date {
    font-size: rem-calc(14px);
  }
  .news__text {
    p {
      font-weight: 300;
      margin-bottom:rem-calc(30px);
      &:after {
        content: ' ';
        display: block;
        position: relative;
        clear: both;
      }
    }
  }
}

.go-top {
    display: block;
    text-align: center;
    padding: rem-calc(15px) rem-calc(5px);
    a {
        color: black;
        border-bottom: rem-calc(1px) solid $red;
        text-decoration: none;
    }
}
