.news-list {
  .news {
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}



.go-top {
    display: block;
    text-align: center;
    padding: rem-calc(15px) rem-calc(5px);
    a {
        color: black;
        border-bottom: rem-calc(1px) solid $red;
        text-decoration: none;
    }
}
