.layout {
  @include media-breakpoint-up(sm) {
    display: flex;
  }
  &.no-overflow {
    overflow: hidden;
  }
  .layout__col1, .layout__col3 {
    flex-grow: 1;
    width: 20%;
    flex-direction: column;
    display: flex;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .layout__col1 {
    justify-content: flex-end;
  }
  .layout__col3 {
    justify-content: flex-start;
  }
  .layout__col2 {

    @include media-breakpoint-up(sm) {
      padding: 0;
      display: flex;
      flex-shrink: 0;
      flex-direction: column;
    }
  }

}
